.gray-box {
    background: gray;
    width: 64px;
    height: 64px;
}

.header-title{
    background: black;
    color: aqua;
    font-size: 24px;
    padding: 1rem;
}

.header-inline,
.footer-inline,
.body-inline {
    border: 2px solid black;
}
